{{> header }}
<form class="ui form" method="post">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="field">
    <label>Domain</label>
    <input type="text" name="domain" placeholder="Domain">
  </div>
   <div class="field">
    <label>Aliases</label>
    <input type="text" name="aliases" placeholder="Aliases">
  </div>
  <div class="ui segment">
	  <button class="ui button green" type="submit">Ajouter</button>
	  <a href="../../orgas/"><button class="ui button" type="button">Cancel</button></a>
  </div>
</form>
{{> footer }}